
body {
  margin: 0;
  background-image: url(./images/optimized/background-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-content: center;
  border-width: thick;
  padding: 20px;
  margin-left: 400px;
}
.nav-bar a {
  color: #2B2F26;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16pt;
  padding: 40px;
}
.nav-bar a:hover{
  color: #968772;
}
div img {
  width: 70px;
  height: 70px;
}
.container {
  display: flex;
  justify-content: center;
}
center {
  background-color: white;
  margin-top: 50px;
  /*padding: 80px;*/
  height: 400px;
  width: 800px;
}
h2 {
  font-weight: lighter;
  font-size: 24pt;
  margin-top: 40px;
}
h4 {
  margin-top: -10px;
  font-size: 18pt;
}
input {
  display: none;
}
label {
  text-align: left;
  font-size: 16pt;
  margin-left: -650px;
  font-family: sans-serif;
}
hr {
  margin-left: 45px;
  margin-right: 45px;
}
button {
  background-color: #968772;
  width: 150px;
  height: 60px;
  font-size: 14pt;
  color: white;
}
button:hover {
  color: #967343;
}
